/* ==========================================================
   TOAST
========================================================== */

.ras-toast{

    position:fixed;

    top:20px;

    right:20px;

    min-width:280px;

    padding:16px 22px;

    color:#fff;

    border-radius:10px;

    box-shadow:0 8px 25px rgba(0,0,0,.2);

    transform:translateX(400px);

    transition:.3s;

    z-index:99999;

    font-weight:600;

}

.ras-toast.show{

    transform:translateX(0);

}

.ras-toast.success{

    background:#16a34a;

}

.ras-toast.error{

    background:#dc2626;

}

.ras-toast.warning{

    background:#f59e0b;

}

.ras-toast.info{

    background:#2563eb;

}
/* ======================================
   INPUT ERROR
====================================== */

.input-error{

    border:2px solid #dc2626 !important;

    background:#fef2f2;

}
